In [14]:
import pandas as pd

mun = pd.read_csv("data/aux_municipio.csv", delimiter=";",encoding="latin1")

In [15]:
mun_tse = pd.read_csv("data/aux_mun_tse_code.csv", delimiter=";",encoding="latin1")

mun_tse["IBGEcod"] = mun_tse["IBGEcod"].real.astype(int)
mun_tse.groupby("Ano").count()
#mun_tse.set_index("IBGEcod").join(mun.set_index("mun_cod"))

      SiglaUF  TSEcod  IBGEcod  Municipio
Ano
1994     5019    5019     5019       5019
1998     5513    5513     5513       5513
2002     5565    5565     5565       5565
2006     5565    5565     5565       5565
2010     5567    5567     5567       5567

###

In [16]:
mun_ano = mun_tse.groupby(["SiglaUF","IBGEcod","TSEcod"],as_index=False).max()
mun_ano = mun_ano.drop(["Ano"],1)

In [17]:
mun_ano.head()

  SiglaUF  IBGEcod  TSEcod     Municipio
0      AC  1200013    1120    ACRELANDIA
1      AC  1200054    1570  ASSIS BRASIL
2      AC  1200104    1058     BRASILEIA
3      AC  1200138    1007        BUJARI
4      AC  1200179    1015      CAPIXABA

### Juntando as duas tabelas

In [18]:
mun_ano_tse_cod = mun_ano.set_index("IBGEcod").join(mun.set_index("mun_cod"))
mun_ano_tse_cod.head()

,SiglaUF,TSEcod,Municipio,uf_sigla,uf_des,meso,meso_des,micro,micro_des,mun_cod_ibge,mun_des
1100015,RO,310,ALTA FLORESTA D OESTE,11.0,Rondônia,2.0,Leste Rondoniense,6.0,Cacoal,15.0,Alta Floresta D'Oeste
1100023,RO,78,ARIQUEMES,11.0,Rondônia,2.0,Leste Rondoniense,3.0,Ariquemes,23.0,Ariquemes
1100031,RO,450,CABIXI,11.0,Rondônia,2.0,Leste Rondoniense,8.0,Colorado do Oeste,31.0,Cabixi
1100049,RO,94,CACOAL,11.0,Rondônia,2.0,Leste Rondoniense,6.0,Cacoal,49.0,Cacoal
1100056,RO,272,CEREJEIRAS,11.0,Rondônia,2.0,Leste Rondoniense,8.0,Colorado do Oeste,56.0,Cerejeiras

In [19]:
mun_ano_tse_cod = mun_ano_tse_cod.sort_values('TSEcod')

In [20]:
mun_ano_tse_cod.head()

,SiglaUF,TSEcod,Municipio,uf_sigla,uf_des,meso,meso_des,micro,micro_des,mun_cod_ibge,mun_des
1100106,RO,19,GUAJARA MIRIM,11.0,Rondônia,1.0,Madeira-Guaporé,2.0,Guajará-Mirim,106.0,Guajará-Mirim
1100205,RO,35,PORTO VELHO,11.0,Rondônia,1.0,Madeira-Guaporé,1.0,Porto Velho,205.0,Porto Velho
1100122,RO,51,JI PARANA,11.0,Rondônia,2.0,Leste Rondoniense,4.0,Ji-Paraná,122.0,Ji-Paraná
1100023,RO,78,ARIQUEMES,11.0,Rondônia,2.0,Leste Rondoniense,3.0,Ariquemes,23.0,Ariquemes
1100049,RO,94,CACOAL,11.0,Rondônia,2.0,Leste Rondoniense,6.0,Cacoal,49.0,Cacoal

### Teste agregações micro e meso

In [21]:
mun_ano_tse_cod.groupby(["meso","micro"])["TSEcod"].apply(list).head()

meso  micro
1.0   1.0      [35, 434, 477, 493, 671, 680, 779, 1040, 1066,...
      2.0      [19, 213, 795, 1104, 1139, 1473, 2453, 2593, 3...
      3.0      [4090, 5177, 7129, 7218, 7226, 7994, 8419, 881...
      4.0      [7331, 7978, 8044, 8249, 8850, 9431, 13099, 14...
      5.0      [7137, 7188, 7196, 7471, 7501, 7684, 8028, 806...
Name: TSEcod, dtype: object

### Adicionando ao código TSE zeros a esquerda até ter 5 digitos

In [22]:
mun_ano_tse_cod["TSEcod"] = mun_ano_tse_cod["TSEcod"].apply(lambda x: '{0:0>5}'.format(x))
mun_ano_tse_cod.head()

,SiglaUF,TSEcod,Municipio,uf_sigla,uf_des,meso,meso_des,micro,micro_des,mun_cod_ibge,mun_des
1100106,RO,00019,GUAJARA MIRIM,11.0,Rondônia,1.0,Madeira-Guaporé,2.0,Guajará-Mirim,106.0,Guajará-Mirim
1100205,RO,00035,PORTO VELHO,11.0,Rondônia,1.0,Madeira-Guaporé,1.0,Porto Velho,205.0,Porto Velho
1100122,RO,00051,JI PARANA,11.0,Rondônia,2.0,Leste Rondoniense,4.0,Ji-Paraná,122.0,Ji-Paraná
1100023,RO,00078,ARIQUEMES,11.0,Rondônia,2.0,Leste Rondoniense,3.0,Ariquemes,23.0,Ariquemes
1100049,RO,00094,CACOAL,11.0,Rondônia,2.0,Leste Rondoniense,6.0,Cacoal,49.0,Cacoal

### Inserir dados de macro

In [23]:
a = mun_ano_tse_cod.groupby(["CODIGO_MACRO","NOME_MACRO","SIGLA_LEGENDA","NOME_LEGENDA"],as_index=False)["QTDE_VOTOS"].sum()
a.sort_values('uf_sigla').head()

KeyError: 'CODIGO_MACRO'

In [25]:
macro_uf = pd.read_csv("data/macro_uf.csv")
macro_uf.set_index("sigla_UF")

          macro         macro_des
sigla_UF
AC            1             Norte
AM            1             Norte
AP            1             Norte
PA            1             Norte
RO            1             Norte
RR            1             Norte
TO            1             Norte
AL            2          Nordeste
BA            2          Nordeste
CE            2          Nordeste
MA            2          Nordeste
PB            2          Nordeste
PE            2          Nordeste
PI            2          Nordeste
RN            2          Nordeste
SE            2          Nordeste
ES            3           Sudeste
MG            3           Sudeste
RJ            3           Sudeste
SP            3           Sudeste
PR            4               Sul
RS            4               Sul
SC            4               Sul
DF            5  Distrito Federal
GO            5      Centro-Oeste
MS            5      Centro-Oeste
MT            5      Centro-Oeste

### Adicionando colunas macro na tabela de municipio

In [26]:
mun_ano_tse_cod = mun_ano_tse_cod.set_index("SiglaUF").join(macro_uf.set_index("sigla_UF"))

In [28]:
mun_ano_tse_cod["mun_cod_ibge"] = mun_ano_tse_cod["mun_cod_ibge"].apply(lambda x: '{0:0>5}'.format(x))
mun_ano_tse_cod.head()

,TSEcod,Municipio,uf_sigla,uf_des,meso,meso_des,micro,micro_des,mun_cod_ibge,mun_des,macro,macro_des
AC,01007,BUJARI,12.0,Acre,2.0,Vale do Acre,4.0,Rio Branco,138.0,Bujari,1,Norte
AC,01015,CAPIXABA,12.0,Acre,2.0,Vale do Acre,4.0,Rio Branco,179.0,Capixaba,1,Norte
AC,01023,PORTO ACRE,12.0,Acre,2.0,Vale do Acre,4.0,Rio Branco,807.0,Porto Acre,1,Norte
AC,01031,SANTA ROSA DO PURUS,12.0,Acre,2.0,Vale do Acre,3.0,Sena Madureira,435.0,Santa Rosa do Purus,1,Norte
AC,01040,MARECHAL TAUMATURGO,12.0,Acre,1.0,Vale do Juruá,1.0,Cruzeiro do Sul,351.0,Marechal Thaumaturgo,1,Norte

### Salvando em csv os dados tratados

In [29]:
mun_ano_tse_cod = mun_ano_tse_cod.drop(["uf_sigla","Municipio"],1)

In [42]:
pd.set_option('precision', 0)
mun_ano_tse_cod.head()
mun_ano_tse_cod.to_csv("data/aux_mun_code.csv",header=True, index=True, encoding='utf-8')

### Sql Para criar a tabela aux_municipio no Bando de dados:
```mysql
create table aux_municipio(
UF STRING,
CODIGO_MUNICIPIO STRING,
NOME_UF STRING,
CODIGO_MESO STRING,
NOME_MESO STRING,
CODIGO_MICRO STRING,
NOME_MICRO STRING,
CODIGO_IBGE STRING,
NOME_MUNICIPIO STRING,
CODIGO_MACRO STRING,
NOME_MACRO STRING)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'separatorChar' = '\,',
'quoteChar'     = '\"'
)
STORED AS TEXTFILE;


Alter table aux_municipio set location "s3://datascience2016/data/gzip/aux/aux_municipio.csv.gz"
```