In [1]:
from web.cepesp.athena.builders import AthenaBuilder

In [2]:
def query(**options):
    builder = AthenaBuilder(**options)
    print(builder.build())

In [3]:
query(table='votos', years=[2014], job=7, reg=4, brancos=True, uf_filter='CE')

SELECT NUMERO_CANDIDATO AS NUMERO_CANDIDATO, HORA_GERACAO AS HORA_GERACAO, NOME_MACRO AS NOME_MACRO, DESCRICAO_ELEICAO AS DESCRICAO_ELEICAO, SIGLA_UE AS SIGLA_UE, NOME_MESO AS NOME_MESO, NUM_TURNO AS NUM_TURNO, DATA_GERACAO AS DATA_GERACAO, CODIGO_MESO AS CODIGO_MESO, NOME_UF AS NOME_UF, ANO_ELEICAO AS ANO_ELEICAO, CODIGO_CARGO AS CODIGO_CARGO, DESCRICAO_CARGO AS DESCRICAO_CARGO, CODIGO_MACRO AS CODIGO_MACRO, UF AS UF, SUM(QTDE_VOTOS) AS QTDE_VOTOS FROM votos_meso WHERE p_ano IN ('2014') AND (p_cargo = '7' OR p_cargo = '8') AND UF = 'CE' GROUP BY {'NUMERO_CANDIDATO', 'HORA_GERACAO', 'NOME_MACRO', 'DESCRICAO_ELEICAO', 'SIGLA_UE', 'NOME_MESO', 'NUM_TURNO', 'DATA_GERACAO', 'CODIGO_MESO', 'NOME_UF', 'ANO_ELEICAO', 'CODIGO_CARGO', 'DESCRICAO_CARGO', 'CODIGO_MACRO', 'UF'} ORDER BY UF ASC, NUM_TURNO ASC, NUMERO_CANDIDATO ASC

In [4]:
query(table='candidatos', years=[2014], job=1, only_elected=True)

SELECT DATA_GERACAO AS DATA_GERACAO, HORA_GERACAO AS HORA_GERACAO, ANO_ELEICAO AS ANO_ELEICAO, NUM_TURNO AS NUM_TURNO, DESCRICAO_ELEICAO AS DESCRICAO_ELEICAO, SIGLA_UF AS SIGLA_UF, SIGLA_UE AS SIGLA_UE, DESCRICAO_UE AS DESCRICAO_UE, CODIGO_CARGO AS CODIGO_CARGO, DESCRICAO_CARGO AS DESCRICAO_CARGO, NUMERO_PARTIDO AS NUMERO_PARTIDO, SIGLA_PARTIDO AS SIGLA_PARTIDO, NOME_CANDIDATO AS NOME_CANDIDATO, NUMERO_CANDIDATO AS NUMERO_CANDIDATO, CPF_CANDIDATO AS CPF_CANDIDATO, NOME_URNA_CANDIDATO AS NOME_URNA_CANDIDATO, COD_SITUACAO_CANDIDATURA AS COD_SITUACAO_CANDIDATURA, DES_SITUACAO_CANDIDATURA AS DES_SITUACAO_CANDIDATURA, NOME_PARTIDO AS NOME_PARTIDO, CODIGO_LEGENDA AS CODIGO_LEGENDA, SIGLA_LEGENDA AS SIGLA_LEGENDA, COMPOSICAO_LEGENDA AS COMPOSICAO_LEGENDA, NOME_COLIGACAO AS NOME_COLIGACAO, CODIGO_OCUPACAO AS CODIGO_OCUPACAO, DESCRICAO_OCUPACAO AS DESCRICAO_OCUPACAO, DATA_NASCIMENTO AS DATA_NASCIMENTO, NUM_TITULO_ELEITORAL_CANDIDATO AS NUM_TITULO_ELEITORAL_CANDIDATO, IDADE_DATA_ELEICAO AS IDADE_DATA_ELEICAO, CODIGO_SEXO AS CODIGO_SEXO, DESCRICAO_SEXO AS DESCRICAO_SEXO, COD_GRAU_INSTRUCAO AS COD_GRAU_INSTRUCAO, DESCRICAO_GRAU_INSTRUCAO AS DESCRICAO_GRAU_INSTRUCAO, CODIGO_ESTADO_CIVIL AS CODIGO_ESTADO_CIVIL, DESCRICAO_ESTADO_CIVIL AS DESCRICAO_ESTADO_CIVIL, CODIGO_COR_RACA AS CODIGO_COR_RACA, DESCRICAO_COR_RACA AS DESCRICAO_COR_RACA, CODIGO_NACIONALIDADE AS CODIGO_NACIONALIDADE, DESCRICAO_NACIONALIDADE AS DESCRICAO_NACIONALIDADE, SIGLA_UF_NASCIMENTO AS SIGLA_UF_NASCIMENTO, CODIGO_MUNICIPIO_NASCIMENTO AS CODIGO_MUNICIPIO_NASCIMENTO, NOME_MUNICIPIO_NASCIMENTO AS NOME_MUNICIPIO_NASCIMENTO, DESPESA_MAX_CAMPANHA AS DESPESA_MAX_CAMPANHA, COD_SIT_TOT_TURNO AS COD_SIT_TOT_TURNO, DESC_SIT_TOT_TURNO AS DESC_SIT_TOT_TURNO, EMAIL_CANDIDATO AS EMAIL_CANDIDATO FROM candidatos WHERE p_ano IN ('2014') AND p_cargo = '1' AND COD_SIT_TOT_TURNO IN ('1', '2', '3') ORDER BY ANO_ELEICAO ASC, SIGLA_UF ASC, SIGLA_UE ASC, CODIGO_CARGO ASC, NUMERO_CANDIDATO ASC

In [5]:
query(table='candidatos', years=[2014], job=7, filters={
    'NOME_CANDIDATO': 'FULANO DE TAL'
})

SELECT DATA_GERACAO AS DATA_GERACAO, HORA_GERACAO AS HORA_GERACAO, ANO_ELEICAO AS ANO_ELEICAO, NUM_TURNO AS NUM_TURNO, DESCRICAO_ELEICAO AS DESCRICAO_ELEICAO, SIGLA_UF AS SIGLA_UF, SIGLA_UE AS SIGLA_UE, DESCRICAO_UE AS DESCRICAO_UE, CODIGO_CARGO AS CODIGO_CARGO, DESCRICAO_CARGO AS DESCRICAO_CARGO, NUMERO_PARTIDO AS NUMERO_PARTIDO, SIGLA_PARTIDO AS SIGLA_PARTIDO, NOME_CANDIDATO AS NOME_CANDIDATO, NUMERO_CANDIDATO AS NUMERO_CANDIDATO, CPF_CANDIDATO AS CPF_CANDIDATO, NOME_URNA_CANDIDATO AS NOME_URNA_CANDIDATO, COD_SITUACAO_CANDIDATURA AS COD_SITUACAO_CANDIDATURA, DES_SITUACAO_CANDIDATURA AS DES_SITUACAO_CANDIDATURA, NOME_PARTIDO AS NOME_PARTIDO, CODIGO_LEGENDA AS CODIGO_LEGENDA, SIGLA_LEGENDA AS SIGLA_LEGENDA, COMPOSICAO_LEGENDA AS COMPOSICAO_LEGENDA, NOME_COLIGACAO AS NOME_COLIGACAO, CODIGO_OCUPACAO AS CODIGO_OCUPACAO, DESCRICAO_OCUPACAO AS DESCRICAO_OCUPACAO, DATA_NASCIMENTO AS DATA_NASCIMENTO, NUM_TITULO_ELEITORAL_CANDIDATO AS NUM_TITULO_ELEITORAL_CANDIDATO, IDADE_DATA_ELEICAO AS IDADE_DATA_ELEICAO, CODIGO_SEXO AS CODIGO_SEXO, DESCRICAO_SEXO AS DESCRICAO_SEXO, COD_GRAU_INSTRUCAO AS COD_GRAU_INSTRUCAO, DESCRICAO_GRAU_INSTRUCAO AS DESCRICAO_GRAU_INSTRUCAO, CODIGO_ESTADO_CIVIL AS CODIGO_ESTADO_CIVIL, DESCRICAO_ESTADO_CIVIL AS DESCRICAO_ESTADO_CIVIL, CODIGO_COR_RACA AS CODIGO_COR_RACA, DESCRICAO_COR_RACA AS DESCRICAO_COR_RACA, CODIGO_NACIONALIDADE AS CODIGO_NACIONALIDADE, DESCRICAO_NACIONALIDADE AS DESCRICAO_NACIONALIDADE, SIGLA_UF_NASCIMENTO AS SIGLA_UF_NASCIMENTO, CODIGO_MUNICIPIO_NASCIMENTO AS CODIGO_MUNICIPIO_NASCIMENTO, NOME_MUNICIPIO_NASCIMENTO AS NOME_MUNICIPIO_NASCIMENTO, DESPESA_MAX_CAMPANHA AS DESPESA_MAX_CAMPANHA, COD_SIT_TOT_TURNO AS COD_SIT_TOT_TURNO, DESC_SIT_TOT_TURNO AS DESC_SIT_TOT_TURNO, EMAIL_CANDIDATO AS EMAIL_CANDIDATO FROM candidatos WHERE p_ano IN ('2014') AND (p_cargo = '7' OR p_cargo = '8') AND LOWER(NOME_CANDIDATO) LIKE '%fulano de tal%' ORDER BY ANO_ELEICAO ASC, SIGLA_UF ASC, SIGLA_UE ASC, CODIGO_CARGO ASC, NUMERO_CANDIDATO ASC

In [6]:
query(table='legendas', years=[2014], job=1, filters={
    'NOME_CANDIDATO': 'FULANO DE TAL', # Should be skipped
    'NOME_PARTIDO': 'PARTIDO TAL'
})

SELECT DATA_GERACAO AS DATA_GERACAO, HORA_GERACAO AS HORA_GERACAO, ANO_ELEICAO AS ANO_ELEICAO, NUM_TURNO AS NUM_TURNO, DESCRICAO_ELEICAO AS DESCRICAO_ELEICAO, SIGLA_UF AS SIGLA_UF, SIGLA_UE AS SIGLA_UE, CODIGO_CARGO AS CODIGO_CARGO, DESCRICAO_CARGO AS DESCRICAO_CARGO, TIPO_LEGENDA AS TIPO_LEGENDA, NUMERO_PARTIDO AS NUMERO_PARTIDO, SIGLA_PARTIDO AS SIGLA_PARTIDO, NOME_PARTIDO AS NOME_PARTIDO, SIGLA_COLIGACAO AS SIGLA_COLIGACAO, NOME_COLIGACAO AS NOME_COLIGACAO, COMPOSICAO_COLIGACAO AS COMPOSICAO_COLIGACAO, SEQUENCIA_COLIGACAO AS SEQUENCIA_COLIGACAO FROM legendas WHERE p_ano IN ('2014') AND p_cargo = '1' AND LOWER(NOME_PARTIDO) LIKE '%partido tal%' ORDER BY ANO_ELEICAO ASC, SIGLA_UF ASC, SIGLA_UE ASC, CODIGO_CARGO ASC, NUMERO_PARTIDO ASC

In [7]:
query(table='tse', years=[2014], job=1, reg=5, pol=2, only_elected=True, filters={
    'NOME_CANDIDATO': 'FULANO DE TAL',
    'NOME_PARTIDO': 'PARTIDO TAL'
})

SELECT v.ANO_ELEICAO AS ANO_ELEICAO, v.CODIGO_MICRO AS CODIGO_MICRO, v.NOME_MICRO AS NOME_MICRO, v.CODIGO_MESO AS CODIGO_MESO, v.NOME_MESO AS NOME_MESO, v.UF AS UF, v.NOME_UF AS NOME_UF, v.CODIGO_MACRO AS CODIGO_MACRO, v.NOME_MACRO AS NOME_MACRO, v.NUM_TURNO AS NUM_TURNO, v.DESCRICAO_ELEICAO AS DESCRICAO_ELEICAO, v.CODIGO_CARGO AS CODIGO_CARGO, v.DESCRICAO_CARGO AS DESCRICAO_CARGO, v.NUMERO_CANDIDATO AS NUMERO_CANDIDATO, v.QTDE_VOTOS AS QTDE_VOTOS, c.SIGLA_UE AS SIGLA_UE, c.DESCRICAO_UE AS DESCRICAO_UE, IF(v.NUMERO_CANDIDATO = '95', 'VOTO BRANCO', IF(v.NUMERO_CANDIDATO = '96', 'VOTO NULO', c.NOME_CANDIDATO)) AS NOME_CANDIDATO, c.CPF_CANDIDATO AS CPF_CANDIDATO, c.NOME_URNA_CANDIDATO AS NOME_URNA_CANDIDATO, c.COD_SITUACAO_CANDIDATURA AS COD_SITUACAO_CANDIDATURA, c.DES_SITUACAO_CANDIDATURA AS DES_SITUACAO_CANDIDATURA, c.CODIGO_LEGENDA AS CODIGO_LEGENDA, c.SIGLA_LEGENDA AS SIGLA_LEGENDA, c.COMPOSICAO_LEGENDA AS COMPOSICAO_LEGENDA, c.CODIGO_OCUPACAO AS CODIGO_OCUPACAO, c.DESCRICAO_OCUPACAO AS DESCRICAO_OCUPACAO, c.DATA_NASCIMENTO AS DATA_NASCIMENTO, c.NUM_TITULO_ELEITORAL_CANDIDATO AS NUM_TITULO_ELEITORAL_CANDIDATO, c.IDADE_DATA_ELEICAO AS IDADE_DATA_ELEICAO, c.CODIGO_SEXO AS CODIGO_SEXO, c.DESCRICAO_SEXO AS DESCRICAO_SEXO, c.COD_GRAU_INSTRUCAO AS COD_GRAU_INSTRUCAO, c.DESCRICAO_GRAU_INSTRUCAO AS DESCRICAO_GRAU_INSTRUCAO, c.CODIGO_ESTADO_CIVIL AS CODIGO_ESTADO_CIVIL, c.DESCRICAO_ESTADO_CIVIL AS DESCRICAO_ESTADO_CIVIL, c.CODIGO_COR_RACA AS CODIGO_COR_RACA, c.DESCRICAO_COR_RACA AS DESCRICAO_COR_RACA, c.CODIGO_NACIONALIDADE AS CODIGO_NACIONALIDADE, c.DESCRICAO_NACIONALIDADE AS DESCRICAO_NACIONALIDADE, c.SIGLA_UF_NASCIMENTO AS SIGLA_UF_NASCIMENTO, c.CODIGO_MUNICIPIO_NASCIMENTO AS CODIGO_MUNICIPIO_NASCIMENTO, c.NOME_MUNICIPIO_NASCIMENTO AS NOME_MUNICIPIO_NASCIMENTO, c.DESPESA_MAX_CAMPANHA AS DESPESA_MAX_CAMPANHA, c.COD_SIT_TOT_TURNO AS COD_SIT_TOT_TURNO, c.DESC_SIT_TOT_TURNO AS DESC_SIT_TOT_TURNO, c.EMAIL_CANDIDATO AS EMAIL_CANDIDATO, l.TIPO_LEGENDA AS TIPO_LEGENDA, l.SIGLA_PARTIDO AS SIGLA_PARTIDO, l.NOME_PARTIDO AS NOME_PARTIDO, l.NUMERO_PARTIDO AS NUMERO_PARTIDO, l.SIGLA_COLIGACAO AS SIGLA_COLIGACAO, l.NOME_COLIGACAO AS NOME_COLIGACAO, l.COMPOSICAO_COLIGACAO AS COMPOSICAO_COLIGACAO, l.SEQUENCIA_COLIGACAO AS SEQUENCIA_COLIGACAO FROM ( SELECT NUMERO_CANDIDATO, NOME_MESO, NUM_TURNO, NOME_MICRO, CODIGO_MESO, NOME_UF, ANO_ELEICAO, CODIGO_CARGO, DESCRICAO_CARGO, NOME_MACRO, DESCRICAO_ELEICAO, CODIGO_MACRO, UF, CODIGO_MICRO, MAX(ID_LEGENDA) AS ID_LEGENDA, SUM(QTDE_VOTOS) AS QTDE_VOTOS FROM votos_micro WHERE (p_cargo = '1') AND p_ano IN ('2014') GROUP BY NUMERO_CANDIDATO, NOME_MESO, NUM_TURNO, NOME_MICRO, CODIGO_MESO, NOME_UF, ANO_ELEICAO, CODIGO_CARGO, DESCRICAO_CARGO, NOME_MACRO, DESCRICAO_ELEICAO, CODIGO_MACRO, UF, CODIGO_MICRO ) as v LEFT JOIN candidatos as c ON v.ID_CANDIDATO = c.ID_CANDIDATO LEFT JOIN legendas as l ON v.ID_LEGENDA = l.ID_LEGENDA WHERE LOWER(c.NOME_CANDIDATO) LIKE '%fulano de tal%' AND LOWER(l.NOME_PARTIDO) LIKE '%partido tal%' AND c.COD_SIT_TOT_TURNO IN ('1', '2', '3') ORDER BY v.UF ASC, v.NUM_TURNO ASC, l.SIGLA_PARTIDO ASC, c.NOME_CANDIDATO ASC, l.COMPOSICAO_COLIGACAO ASC, l.COMPOSICAO_COLIGACAO ASC

In [8]:
query(table='tse', years=[2014], job=1, reg=0, pol=4)

SELECT ANO_ELEICAO AS ANO_ELEICAO, CODIGO_CARGO AS CODIGO_CARGO, DESCRICAO_CARGO AS DESCRICAO_CARGO, DESCRICAO_ELEICAO AS DESCRICAO_ELEICAO, NUM_TURNO AS NUM_TURNO, SUM(QTD_APTOS) AS QTD_APTOS, SUM(QTD_COMPARECIMENTO) AS QTD_COMPARECIMENTO, SUM(QTD_ABSTENCOES) AS QTD_ABSTENCOES, SUM(QT_VOTOS_NOMINAIS) AS QT_VOTOS_NOMINAIS, SUM(QT_VOTOS_BRANCOS) AS QT_VOTOS_BRANCOS, SUM(QT_VOTOS_NULOS) AS QT_VOTOS_NULOS, SUM(QT_VOTOS_LEGENDA) AS QT_VOTOS_LEGENDA, SUM(QT_VOTOS_ANULADOS_APU_SEP) AS QT_VOTOS_ANULADOS_APU_SEP FROM tse_detalhe WHERE p_ano IN ('2014') AND p_cargo = '1' GROUP BY {'ANO_ELEICAO', 'CODIGO_CARGO', 'DESCRICAO_CARGO', 'DESCRICAO_ELEICAO', 'NUM_TURNO'} ORDER BY NUM_TURNO ASC

In [9]:
query(table='tse', years=[2002], job=1, reg=0, pol=2, only_elected=True)

SELECT v.ANO_ELEICAO AS ANO_ELEICAO, v.NUM_TURNO AS NUM_TURNO, v.DESCRICAO_ELEICAO AS DESCRICAO_ELEICAO, v.CODIGO_CARGO AS CODIGO_CARGO, v.DESCRICAO_CARGO AS DESCRICAO_CARGO, v.NUMERO_CANDIDATO AS NUMERO_CANDIDATO, v.QTDE_VOTOS AS QTDE_VOTOS, c.SIGLA_UE AS SIGLA_UE, c.DESCRICAO_UE AS DESCRICAO_UE, IF(v.NUMERO_CANDIDATO = '95', 'VOTO BRANCO', IF(v.NUMERO_CANDIDATO = '96', 'VOTO NULO', c.NOME_CANDIDATO)) AS NOME_CANDIDATO, c.CPF_CANDIDATO AS CPF_CANDIDATO, c.NOME_URNA_CANDIDATO AS NOME_URNA_CANDIDATO, c.COD_SITUACAO_CANDIDATURA AS COD_SITUACAO_CANDIDATURA, c.DES_SITUACAO_CANDIDATURA AS DES_SITUACAO_CANDIDATURA, c.CODIGO_LEGENDA AS CODIGO_LEGENDA, c.SIGLA_LEGENDA AS SIGLA_LEGENDA, c.COMPOSICAO_LEGENDA AS COMPOSICAO_LEGENDA, c.CODIGO_OCUPACAO AS CODIGO_OCUPACAO, c.DESCRICAO_OCUPACAO AS DESCRICAO_OCUPACAO, c.DATA_NASCIMENTO AS DATA_NASCIMENTO, c.NUM_TITULO_ELEITORAL_CANDIDATO AS NUM_TITULO_ELEITORAL_CANDIDATO, c.IDADE_DATA_ELEICAO AS IDADE_DATA_ELEICAO, c.CODIGO_SEXO AS CODIGO_SEXO, c.DESCRICAO_SEXO AS DESCRICAO_SEXO, c.COD_GRAU_INSTRUCAO AS COD_GRAU_INSTRUCAO, c.DESCRICAO_GRAU_INSTRUCAO AS DESCRICAO_GRAU_INSTRUCAO, c.CODIGO_ESTADO_CIVIL AS CODIGO_ESTADO_CIVIL, c.DESCRICAO_ESTADO_CIVIL AS DESCRICAO_ESTADO_CIVIL, c.CODIGO_COR_RACA AS CODIGO_COR_RACA, c.DESCRICAO_COR_RACA AS DESCRICAO_COR_RACA, c.CODIGO_NACIONALIDADE AS CODIGO_NACIONALIDADE, c.DESCRICAO_NACIONALIDADE AS DESCRICAO_NACIONALIDADE, c.SIGLA_UF_NASCIMENTO AS SIGLA_UF_NASCIMENTO, c.CODIGO_MUNICIPIO_NASCIMENTO AS CODIGO_MUNICIPIO_NASCIMENTO, c.NOME_MUNICIPIO_NASCIMENTO AS NOME_MUNICIPIO_NASCIMENTO, c.DESPESA_MAX_CAMPANHA AS DESPESA_MAX_CAMPANHA, c.COD_SIT_TOT_TURNO AS COD_SIT_TOT_TURNO, c.DESC_SIT_TOT_TURNO AS DESC_SIT_TOT_TURNO, c.EMAIL_CANDIDATO AS EMAIL_CANDIDATO, l.TIPO_LEGENDA AS TIPO_LEGENDA, l.SIGLA_PARTIDO AS SIGLA_PARTIDO, l.NOME_PARTIDO AS NOME_PARTIDO, l.NUMERO_PARTIDO AS NUMERO_PARTIDO, l.SIGLA_COLIGACAO AS SIGLA_COLIGACAO, l.NOME_COLIGACAO AS NOME_COLIGACAO, l.COMPOSICAO_COLIGACAO AS COMPOSICAO_COLIGACAO, l.SEQUENCIA_COLIGACAO AS SEQUENCIA_COLIGACAO FROM ( SELECT ANO_ELEICAO, CODIGO_CARGO, DESCRICAO_CARGO, NUMERO_CANDIDATO, DESCRICAO_ELEICAO, NUM_TURNO, MAX(ID_LEGENDA) AS ID_LEGENDA, SUM(QTDE_VOTOS) AS QTDE_VOTOS FROM votos_uf WHERE (p_cargo = '1') AND p_ano IN ('2002') GROUP BY ANO_ELEICAO, CODIGO_CARGO, DESCRICAO_CARGO, NUMERO_CANDIDATO, DESCRICAO_ELEICAO, NUM_TURNO ) as v LEFT JOIN candidatos as c ON v.ID_CANDIDATO = c.ID_CANDIDATO LEFT JOIN legendas as l ON v.ID_LEGENDA = l.ID_LEGENDA WHERE c.COD_SIT_TOT_TURNO IN ('1', '2', '3') ORDER BY v.NUM_TURNO ASC, l.SIGLA_PARTIDO ASC, c.NOME_CANDIDATO ASC, l.COMPOSICAO_COLIGACAO ASC, l.COMPOSICAO_COLIGACAO ASC